{% extends "layout.html" %}
{% block title %}Hello Cube backend!{% endblock %}
{% block body %}
    {{ super() }}
    <h2>This heading is defined in the child.</h2>
    <h2>backend contains {{ composants|length }} composants</h2>
    <ul id="navigation">
    {% for item in composants %}
        <li><a>{{ item }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}